:root {
    --customBlue: #0793D6;
    --customGrey: #e2e8f0;
}



* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: Roboto, sans-serif;
}

body {
    height: 100vh;
    min-width: 1135px;
}
.container {
    text-align: center;
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-template-rows: 200px 1fr;
    height: 100%;
}

.header {
    display: grid;
    grid-column: 2 / 3;
    grid-template-rows: 2fr 3fr;
    gap: 10px;
    box-shadow: 0px 3px 5px #C5C5C5;
    z-index: 1;
}

    .headerFlex1 {
        display: grid;
        grid-template-columns: 30px 1fr 30px 50px 150px;
        align-items: center;
        text-align: left;
        padding-left: 35px;
        padding-top: 30px;
        gap: 25px;
    }
    
        .headerFlex1 > svg > path {
            color: black;
        }

        input {
            grid-row: 2 / auto;
            background-color: var(--customGrey);
            border-style: none;
            border-radius: 16px;
            height: 32px;
            width: clamp(300px, 80%, 700px);
            margin-left: -10px;
        }

        #smallpfp {
            height: 50px;
            width: 50px;
        }

        .smallName {
            font-weight: 500;
            font-size: 1.2rem;
        }
        
    .headerFlex2 {
        display: grid;
        grid-template-columns: 90px 1fr 360px;
        align-items: center;
        gap: 5px;
        padding-left: 35px;
    }

        #bigpfp {
            height: 70px;
            width: 70px;
        }

        .greetingBox {
            text-align: left;
        }

            .greeting {
                font-size: .8rem;
                font-weight: 500;
                margin-bottom: 7px;
            }

            .tag {
                font-size: 1.35rem;
                font-weight: 500;
            }



        .menu {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            margin-right: 10px;
            margin-top: 16px;
            gap: 10px;
            
        }

            .menu > btn {
                display: grid;
                background-color: var(--customBlue);
                color: white;
                height: 38px;
                width: 95px;
                border-radius: 20px;
                align-items: center;    
                font-weight: 600;            
                font-size: 1rem;
            }



.sidebar {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1 / span 2;
    grid-template-rows: 60px 260px 130px;
    gap: 33px;
    background-color: var(--customBlue);
    color: white;
    font-size: 1.3rem;
    padding-top: 15px;
    font-weight: 600;
}
    .dashboard {
        display: grid;
        align-content: center;
        text-align: left;
        grid-template-columns: 1fr 3.2fr;
        
    }

        #logo {
            margin-left: 25px;
        }

        li > svg > path {
            fill: white;
        }

        .dashboardText {
            align-self: center;
            font-size: 1.75rem;
            font-weight: 600;
        }

    li > svg:not(#logo) {
        padding-left: 2.25rem;
    }

    .sidebar ul {
        display: grid;
        gap: 1px;
    }

    .sidebar > ul > li {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 3.15fr;
        text-align: left;
        
    }

    

.main {
    display: grid;
    grid-column: 2 / 3;
    grid-template-columns: 4.24fr minmax(300px, 1fr);
    background-color: var(--customGrey);
    gap: 26px;
    padding: 30px 28px;
    padding-bottom: 75px;
}

    .projectContainer {
        display: grid;
        grid-column: 1 / 2;
        grid-row: span 2;
        grid-template-rows: 50px 1fr;
        align-items: flex-start;
    }

        .cards {
            display: grid;
            grid-row: 2 / 3;
            grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
            gap: 20px;
            align-items: flex-start;
        }

            .card {
                display: grid;
                box-sizing: border-box;
                grid-template-rows: 1fr 4fr 1fr;
                height: 235px;
                max-width: 350px;
                padding: 28px 28px;
                text-align: left;
                background-color: white;
                border-left: 8px solid orange;
                border-radius: 8px;
            }

                .title {
                    font-weight: 500;
                    font-size: 1.05rem;
                }

            h3 {
                text-align: left;
                align-self: center;
                font-size: 1.5rem;
                font-weight: 450;
            }

            .title {
                color: black;
            }

            .iconContainer {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 15px;
                margin-left: 145px;
                padding-top: 40px;
            }
            .iconContainer > svg {
                width: 30px;
                height: 40px;
            }

    .announcementCalendar {
        display: flex;
        flex-direction: column;
        gap: 46px;
    }

    .announcements {
        display: grid;
        align-items: center;       
        grid-column: span 1;
        grid-template-rows: 50px 1fr;
    }

        .announcementList {
            display: grid;
            gap: 15px;
            padding: 28px 32px;
            align-self: flex-start;
            text-align: left;
        }

        :not(.card) > p {
            font-size: .75rem;   
        }

        p {
            color: #6b7280;
        }

        h4 {
            margin-bottom: 4px;
        }

        .divider {
            height: 2px;
            width: 100%;
            margin: 8px 0px;
            background-color: var(--customGrey);
        }

    .calendar {
        display: grid;
        grid-column: 2 / 3;
        grid-template-rows: 50px 1fr;
        margin-bottom: auto;
        align-items: center;
    }

        .calendarContainer {
            display: grid;
            grid-template-rows: 1fr .01fr 1f .01fr 1fr;
            padding: 28px 32px;
            gap: 15px;
        }

        .calendarItem {
            display: grid;
            grid-template-columns: 60px 1fr;
        }

        .calendarItem > svg {
            align-self: center;
            
        }

        h1 {
            font-weight: 500;
            font-size: 1.05rem;
            align-self: center;
            text-align: left;
        }
        

        .calendarContainer, .announcementList, .card {
            background-color: white;
            border-radius: 8px;
            box-shadow: 3px 3px 8px lightgrey;
        }

    
.hide {
    display: none;
}